{% extends 'news/base.html' %}
{% block title %} Login sahifasi {% endblock title %}

{% block content %}

    <h2>Web sayitga kirish - login</h2>
    <p>Iltmos saytga kirish uchun quydagi formani to'ldiring!</p>
    <h5>Agar parolingizni unutgan bo'lsangiz, uni <a href="{% url 'password_reset' %}" class="text-danger">tiklang</a></h5>
   
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Login</button>
    </form>
    <h4>Agar foydalunvchi profilingiz bo'lmasa <a href="{% url 'user_register' %}" style="color: blue;"> Ro'yxatdan o'tishingiz </a> mumkin</h4>



{% endblock content %}
